body
{
    background: url(fond.png) no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: left;
    animation: move 20s ease-in-out infinite;
}
.placement
{
    display: flex;
    justify-content: center;
    align-items: center;
}
h1
{
    text-align: center;
    font-size: 100px;
    margin-top: 20%;
    color: black;
}
button
{
    font-size: 50px;
}

@keyframes move 
{
    0% {
       background-position: left;
    }
    50% {
        background-position: right;
    }
    100% {
        background-position: left;
    }
}